<nav>
    <a href="https://webpages.charlotte.edu/kiyer6" target="_blank">Charlotte.edu</a>
    ||
    <a href="https://github.com/aster638" target="_blank">Github</a>
    ||
    <a href="https://aster638.github.io/" target="_blank">Github.io</a>
    ||
    <a href="https://aster638.github.io/itis3135/" target="_blank">itis3135.io</a>
    ||
    <a href="https://www.freecodecamp.org/kiyer6" target="_blank">FreeCodeCamp</a>
    ||
    <a href="https://www.codecademy.com/profiles/kiyer6" target="_blank">Codecademy</a>
    ||
    <a href="http://www.linkedin.com/in/krish-iyer-681557265" target="_blank">LinkedIn</a>
</nav>
<p>Page Built by <a href="iyerenterprices.com/" target="_blank">Iyer Enterprices</a>, <i>Certified in <a href="https://freecodecamp.org/certification/kiyer6/responsive-web-design" class="responsive-web-design">Responsive Web Design</a></i> &copy; 2025</p>