<h1>Krish Iyer's King-sized Inchworm || ITIS 3135</h1>
        <nav class="navbar">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="introduction.html">Introduction</a></li>
                <li><a href="contract.html">Contract</a></li>
                <li><a href="website_evaluation.html">Website Evaluations</a></li>
                <li><a href="tables.html">Tables</a></li>
                <li><a href="kinginchworm.com/index.html">Whimsical Company</a></li>
                <li><a href="byo_intro.html">BYO</a></li>
                <li><a href="slideshow.html">Slideshow</a></li>
                <li><a href="project/index.html">Client Project</a></li>
                <li><a href="review1.html">Peer Review 1</a></li>
                <li><a href="review2.html">Peer Review 2</a></li>
                <li><a href="drawing.html">Drawing</a></li>
            </ul>
        </nav>
        <nav class="navbar">
            <ul>
                <li>
                    <a href="stuff/My & weBpage.htm">CRAPPY</a>
                    <li><a href="hobby/index.html">Hobby</a></li>
                </li>
            </ul>
        </nav>